.banner-img{
	width: 100%;
	height: 275px;
	object-fit: cover;
}

.site-title{
	padding: 5px 5vw;
}

.initial-content{
	padding-top: 20px;
}

.entry-content{
	.postTitle{
		border-bottom: 1px solid;
	}
	.date{
		border-bottom: 1px solid;
		margin-bottom: 15px;
		padding: 10px 0;
	}
}